{% extends '/base/default-dashboard.html' %}
{% import '/base/error-handler.html' as eh %}

{% block breadcrumbs %}
<a href="{{ url_for('dashboard.inventories.index', building_id=request.args.get('building_id', None)) }}" class="breadcrumb">Inventory</a>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Inventory</h3>
	  {% if errors is not undefined %}
    <div class="card red lighten-5">
      <div class="card-content red-text text-darken-4">
        <span class="card-title">Errors</span>
          {% for error in errors %}
          <p>{{ error.detail }}</p>
          {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form method="POST" action"{{ request.full_path }}">
      {{ form.csrf_token }}
      <div class="row">
        <div class="input-field col s12">
          {{ form.name(class_=eh.get_validate_class(form.name.errors)) }}
          {{ form.name.label(data_error=eh.get_error_messages(form.name.errors)) }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form.description(class_=eh.get_validate_class(form.description.errors)) }}
          {{ form.description.label(data_error=eh.get_error_messages(form.description.errors)) }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form.tags(class_=eh.get_validate_class(form.tags.errors)) }}
          {{ form.tags.label(data_error=eh.get_error_messages(form.tags.errors)) }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="submit" class="btn">Create</button>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}
