{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<a href="{{ url_for('dashboard.inventories.index', building=inventory.building['id']) }}" class="breadcrumb">Inventories</a>
<a href="{{ url_for('dashboard.inventories.view', inventory_id=inventory.id) }}" class="breadcrumb">{{ inventory.name }}</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    
    <div class="row">
      <div class="col s12">
        <h3>Inventory: {{ inventory.name }}</h3>
        <p><i>{{ inventory.description }}</i></p>
        <p>
          {% for tag in inventory.tags %}
          <div class="chip">{{ tag }}</div>
          {% endfor %} 
        </p>
      </div>
    </div>

    {# begin active applications block #}
    {#
    {% set act_apps = inventory.response['data']['relationships']['activated-applications']['data'] %}
    {% if act_apps|count > 0 %}
    <div class="row">
      <div class="col s12">
        <h4>Active Applications</h4>
      </div>
    </div>

    <div class="row">
      {% for act_app in act_apps %}
        {% for app in applications if app.id == act_app['id'] %}
      <div class="col s4">
        <div class="card hoverable">
            <div class="card-content">
              <span class="card-title"><strong>{{ app.name }}<strong></span>
              <p>{{ app.description }}</p>
              <hr>
              <p>{{ app.detail }}</p>
            </div>
            <div class="grey lighten-4" style="padding:2px;">
              <a class="btn-floating waves-effect waves-light light-blue lighten-3" href="{{ url_for('dashboard.inventories.index', inventory_id=inventory.id) }}"><i class="material-icons">view_module</i></a>
              <a class="btn-floating waves-effect waves-light red" href="{{ url_for('dashboard.inventories.control_applications', inventory_id=inventory.id, application_id=app.id, status='deactivate') }}"><i class="material-icons">delete</i></a>
            </div>
            <!-- <div class="card-action">-->
            <!--   <a href="#">This is a link</a>-->
            <!--   <a href="#">add</a>-->
            <!-- </div>-->
          </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
    {% endif %}
    #}
    {# end available applications block #}

    {# begin available applications block #}
    {#
    <div class="row">
      <div class="col s12">
        <h4>Applications</h4>
      </div>
    </div>
    <div class="row">
      {% for app in applications if not app.id in act_apps|map(attribute='id') %}
      <div class="col s4">
        <div class="card hoverable">
            <div class="card-content">
              <span class="card-title"><strong>{{ app.name }}<strong></span>
              <p>{{ app.description }}</p>
              <hr>
              <p>{{ app.detail }}</p>
            </div>
            <div class="grey lighten-4" style="padding:2px;">
              <a class="btn-floating waves-effect waves-light red" href="{{ url_for('dashboard.inventories.control_applications', inventory_id=inventory.id, application_id=app.id, status='activate') }}"><i class="material-icons">add</i></a>
            </div>

            <!-- <div class="card-action">-->
            <!--   <a href="#">This is a link</a>-->
            <!--   <a href="#">add</a>-->
            <!-- </div>-->
          </div>
      </div>
      {% endfor %}
    </div>
    #}
    {# end available applications block #}

  </div>
</div>
{% endblock content %}
