{% extends '/base/default-dashboard.html' %}
{% import '/base/error-handler.html' as eh %}

{% block jsmodule %}
  System.import('css-framework').then(() => {
    System.import('dashboard'); 
    System.import('select_enable'); 
  });
{% endblock %}


{% block breadcrumbs %}
<a href="{{ url_for('dashboard.stocks.index', building_id=stock.building) }}" class="breadcrumb">Stock</a>
<a href="{{ url_for('dashboard.stocks.view', stock_id=stock.id) }}" class="breadcrumb">{{ stock.name }}</a>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Add item to inventory</h3>
	  {% if errors is not undefined %}
    <div class="card red lighten-5">
      <div class="card-content red-text text-darken-4">
        <span class="card-title">Errors</span>
        {{errors}}
          {% for error in errors %}
          <p>{{ error.detail }}</p>
          {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form method="POST" action"{{ request.full_path }}">
      {{ form.csrf_token }}

       <div class="row">
        <div class="input-field col s6">
          {{ form.item() }}
          {{ form.item.label(data_error=eh.get_error_messages(form.item.errors)) }}
        </div>
        <div class="input-field col s6">
          {{ form.item_upc(class_=eh.get_validate_class(form.item_upc.errors)) }}
          {{ form.item_upc.label(data_error=eh.get_error_messages(form.item_upc.errors)) }}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          {{ form.quantity(class_=eh.get_validate_class(form.quantity.errors)) }}
          {{ form.quantity.label(data_error=eh.get_error_messages(form.quantity.errors)) }}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              {{ form.expired_date.label(data_error=eh.get_error_messages(form.expired_date.errors)) }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.expired_date(class_=eh.get_validate_class(form.expired_date.errors)) }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="submit" class="btn">Add</button>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}
