{% extends "/base/base-layout.html" %}

{% block title %}Home Hero Dashboard{% endblock %}

{% block jsmodule %}
System.import('css-framework').then(() => {
                System.import('dashboard'); 
            });
{% endblock %}
{% block additional_head %}
<style>
  header, main, footer {
        padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
        header, main, footer {
        padding-left: 0;
      }
  }
  .collapsible li.active i#more {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
</style>
{% endblock additional_head %}

{% block header %}
  {% include "/base/toolbar-dashboard.html" %}
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <nav>
        <div class="nav-wrapper orange">
          <div class="col s12">
            <a href="{{ url_for('dashboard.index') }}" class="breadcrumb">Dashboard</a>
            {% block breadcrumbs %}{% endblock %}
          </div>
        </div>
      </nav>
    </div>
  </div>
 
  <div class="container">           
    {% block content %}{% endblock %}
  </div>
{% endblock %}
