  
  <div class="page-footer orange">
    <div class="container">
      <div class="row">

        <div class="col l6 s12">
          <h5 class="white-text">Home Hero</h5>
          <p class="grey-text text-lighten-4">Home Hero is a project under UoT@Tech working groub. Urban IoT or UoT@Tech is a multidisciplinary R&D workgroup that focuses on Intelligent Living in Smart Cities. That is to say our main objective is to improve everyday life in society with technology and smartness surrounding people in their household forming interconnected neighborhood within their city.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Interesting</h5>
          <ul>
            <li><a class="white-text" href="http://iot.latech.edu/">UoT@Tech</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="http://iot.latech.edu/">UoT@Tech</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        UoT@Tech
      </div>
    </div>
  </div>
